<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}的停车场</title>
    <!-- zui -->
    <link href="{{ url_for('static', filename='css/zui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/zui-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datagrid/zui.datagrid.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='images/ico.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/styles.css') }}">
	<!-- index.html -->
</head>
<body>

<div class="container">
    <h1>
    <img alt="picturl1" src="{{ url_for('static', filename='images/avatar.jpg') }}" height="50" width="50">
    {{ user.name }}的停车场
    </h1>
</div>

<!-- flash消息 -->
{% for message in get_flashed_messages() %}
    <div class="container alert alert-primary with-icon">
        <i class="icon-hand-right"></i>
        <div class="content">{{ message }}</div>
    </div>
{% endfor %}


<!-- 数据表格 -->
<div class="container">
    
    {%if clen == 0%}
    <h2>当前停车场中不存在车辆<br>空车位：{{last}}</h2>
    <form method="post">
        <div class="input-group">
          <div class="input-control search-box search-box has-icon-left has-icon-right search-example" id="searchcartext">
            
            <input id="carnum" type="text" class="form-control search-input"  placeholder="如：桂A.66666" name="carnum">
            <label for="carnum" class="input-control-icon-left search-icon">
                <i class="icon icon-chevron-right"></i>
            </label>
          </div>

          <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" name="parkcar" value="停车"></input>
          </span>
          
          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="getcar" value="取车">
          </span>          

          <!-- 跳转到日志页面 -->
          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="tolog" value="日志">
          </span>

          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="logout" value="登出">
          </span>

        </div>
    </form>
    {% endif %}


    {%if clen != 0%}
    <h2>已停车辆数：{{ carn }}<br>还余空位：{{last}}</h2>

    <!-- 搜索框 -->
    <form method="post">
        <div class="input-group">
          <div class="input-control search-box search-box has-icon-left has-icon-right search-example" id="searchcartext">
            
            <input id="carnum" type="text" class="form-control search-input"  placeholder="如：桂A.66666" name="carnum">
            <label for="carnum" class="input-control-icon-left search-icon">
                <i class="icon icon-chevron-right"></i>
            </label>
          </div>

          <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" name="parkcar" value="停车"></input>
          </span>
          
          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="getcar" value="取车">
          </span>

          <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" name="searchcarb" value="搜索"></input>
          </span>
          

          <!-- 跳转到日志页面 -->
          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="tolog" value="日志">
          </span>

          <span class="input-group-btn container">
                <input class="btn btn-primary " type="submit" name="logout" value="登出">
          </span>
        </div>
    </form>
    <br>

    <!-- 数据表格1 -->
    <table id="cartable" class="table table-bordered" style="background-color: #4b5154;text-align: center;">  

        <thead>
            <tr>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">车牌号</th>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">停车时间</th>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">已停时间</th>
            </tr>
        </thead>

        <tbody>
            {% for car in cars.items %}
            <tr>
                <td style="color:#f9f9f9;">{{ car.carnum }}</td>
                <td style="color:#f9f9f9;">{{ car.time }}</td>
                <td style="color:#f9f9f9;">{{ time - car.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="input-group" >
      <div class="input-control search-box search-box has-icon-left has-icon-right search-example" style="width: 0px;" id="searchcartext">
      </div>

    {% if cars.pages > 1 %}

        <span class="btn btn-primary">
            当前页数：{{ cars.page }}
        </span>  

      <span class="input-group-btn container">
        {% if cars.has_prev %}
            <a href="/?page1={{ cars.prev_num }}" class="btn btn-primary" style="color: #f9f9f9">上一页</a>
        {% endif %}
        页码：
        {% for i in cars.iter_pages() %}
            <a href="/?page1={{ i }}" class="btn btn-primary" style="color: #f9f9f9">{{ i }}</a>
        {% endfor %}

        {% if cars.has_next %}
            <a href="/?page1={{ cars.next_num }}" class="btn btn-primary" style="color: #f9f9f9">下一页</a>
        {% endif %}
      </span>
    {% endif %}
    </div>

    
    <!-- 数据表格2 -->
    {% if len != 0 %}
    <h2>当前便道中等待车辆数：{{ len }}</h2>
    <table id="cartable" class="container table table-bordered" style="background-color: #4b5154;text-align: center;">  

        <thead>
            <tr>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">车牌号</th>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">开始排队时间</th>
                <th style="color:#f9f9f9;text-align: center;background-color: #8666b8;">已等待时间</th>
            </tr>
        </thead>

        <tbody>
            {% for wcar in wcars.items %}
            <tr>
                <td style="color:#f9f9f9;">{{ wcar.carnum }}</td>
                <td style="color:#f9f9f9;">{{ wcar.time }}</td>
                <td style="color:#f9f9f9;">{{ time - wcar.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="input-group" >
      <div class="input-control search-box search-box has-icon-left has-icon-right search-example" style="width: 0px;" id="searchcartext">
      </div> 

    {% if wcars.pages > 1 %}

        <span class="btn btn-primary">
            当前页数：{{ wcars.page }}
        </span> 
    
      <span class="input-group-btn container">
        {% if wcars.has_prev %}
            <a href="/?page2={{ wcars.prev_num }}" class="btn btn-primary" style="color: #f9f9f9">上一页</a>
        {% endif %}
        页码：
        {% for i in wcars.iter_pages() %}
            <a href="/?page2={{ i }}" class="btn btn-primary" style="color: #f9f9f9">{{ i }}</a>
        {% endfor %}

        {% if wcars.has_next %}
            <a href="/?page2={{ wcars.next_num }}" class="btn btn-primary" style="color: #f9f9f9">下一页</a>
        {% endif %}
      </span>
    {% endif %}
    </div>

</div>



<!-- js -->
<script> 
// 初始化搜索框，并在选项中指定搜索文本变更事件回调函数，这样当搜索框文本发送变化时获得通知。
$('#searchcar').searchBox({
    escToClear: true, // 设置点击 ESC 键清空搜索框
    onSearchChange: function(searchKey, isEmpty) {
        console.log('搜索框文本变更：', searchKey);
    }
});
</script>
<script src="static/lib/datagrid/zui.datagrid.min.js"></script>


<!-- 页脚 -->
<footer class="container">
    <small>author：
<a href="http://na0h.cn"><strong>Na0H</strong></a></small>
</footer>
</body>
</html>

